
:root{ 
    --data-color-primary: #F7EFE5; 
    --data-color-secondary: #674188; 
}
.card {
    position: relative;
    width: 100%;
    display: block;
    border: 2px solid --data-color-secondary;
    border-radius: 6px;

    &__body{
        
        background-color: var(--data-color-primary);
    }
    &__title{
        align-items: center;
        font-size: 1.5rem;

        &__icon{
            width: 10px;
            
            
        }
    }

    a{
        text-decoration: none;

    }
}


