
 @import url('https://fonts.googleapis.com/css2?family=Francois+One&display=swap');

:root{ 
    --data-color-primary: #DDDDDD; 
    --data-color-secondary: #FC6471; 
}
.card {
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    transition: 0.3s;
    position: relative;
    width: 100%;
    display: block;
    border: 2px solid --data-color-secondary;
    border-radius: 6px;    
    font-family: 'Francois One', 'sans-serif';

    

    &__body{
        padding: 2px 16px;
        background-color: var(--data-color-primary);
        
    }
    &__title{
        align-items: center;
        font-size: 1.5rem;
        display: flex;
        justify-content: space-between;
        
    }

    a{
        text-decoration: none;
        color: var(--data-color-secondary);

    }

    :hover {
        box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
    }
    
}


