
.grid-container {  
    display: flex;
    flex-direction: column;
    
    @media (min-width: 689px) {        
      display: grid;
      grid-template-columns: repeat(2,1fr);
    }
    @media (min-width: 1280px) {        
      display: grid;
      grid-template-columns: repeat(3,1fr);
    }
    
  }
  
  .product {

    padding:2.2rem ;    
    margin:10px;
    width: 150px;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    transition: 0.3s;
    border-radius: 5px;

    &__container{
      display: block;
      align-items: center;
      justify-content: center;
      
  
      
    }
    h2{
      
      text-align: center;
      font-size: 1.15rem;
    }
    p{
      text-align: center;
    }
    &:hover{
      box-shadow: 0 8px 16px 0 rgba(0,0,0,0.6);
    }
    
    img{
   
      border-radius: 5px 5px 0 0;
   
    }
  }
  .btn__add__card  {
    border: none;
    background-color: #000;
    color: #fff;
    padding: 15px 0;
    display: block;
    width: 100%;    
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
    font-family: inherit;
    cursor: pointer;
    font-size: 16px;
    transition: all .3s ease;

    &:hover{
      background-color: #333;
      transform: scale(1.03);
       
    }
  }
  
 